case/*.gcode
case/dimention_test.scad
case/pcb_test.*
case/dimension_test.scad
kicad/*bak
kicad/*.svg
kicad/RetroWiFiModem_rotated.kicad_pcb
kicad/library/*.bck
telnet.txt
RetroWiFiModem/*.gch
D1 mini pinouts.txt
sounds/*.wav
